
.main-container{
    flex-direction: column;
    align-items: center;

    margin: 0 5%;
}

#contenedorGeneral{
    max-width: 90%;
    min-width: 40%;
}

.main-box-content{
    width: 100%;
    
  }


/**/
/* .box-product{ 
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
   
    background-color: #F0ECEC;
    border-radius: 1rem;
   
    padding: 1rem;
    gap: 1rem;
   } 
   
   .box-product-grid{
    display: grid;
    grid-template-areas: "thumbnail"; 
   }
   
   .box-product video{
    grid-area: thumbnail;
    border-radius: 1rem;
    z-index: 0;
    width: 100%;
   }
   
   .box-product img{       
    grid-area: thumbnail;
    border-radius: 1rem;
    z-index: 1;
    width: 100%;
   } 
   
   .box-product-description{
   
   font-family: Eras;
    padding: 1rem;
    border-radius: 1rem;
    background-color: whitesmoke;
    height: 100%; 
   } */
   