/*index.css*/
.main-box-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 20rem)); /* Hace que se llenen las columnas sin hacer overflow */
    justify-content:space-evenly; /*  center or space-evenly */
    gap: 5rem 3rem;  /*Space between products*/
    margin: 3rem 5%;
    
  }

  .main-container{
    background: white; /*linear-gradient(180deg, white, #E5E4E2);*/
    background-attachment:fixed; 
    display: flex;
    flex-direction: column;
    justify-content:flex-start;

}
  
  .room-title{
    color: #867878;
    font-family: Garineldo;
    font-size: calc(1.5rem + 0.6vw);
    text-align: center;
    justify-content: center;
  }
  
  .room-description{
    color: #867878;
    font-size: calc(0.7rem + 0.5vw);
    margin: -1rem 1rem 1rem 1rem;
    padding: 0;
  }
  .room-description ul{
  margin: 0 1rem;
  line-height: 1.5rem;
  }


.banner{
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient( transparent, white 90%), url(../Montañas.svg);
  text-align: center;

  /* justify-content: center;
  align-items: center; */
}

.banner h1{
  top: 31%;
  position: relative;
  font-size: calc(1.6rem + 5.0vw);
  Transition: all 2s 0s;
  animation: 1s ease-in 0s 1 forwards banner;
}

@keyframes banner{
    0%{
        opacity: 0;
    }
    100%{
      opacity: 1;
    }
}

.arrow-index{
  position: relative;
  top: 40%;
  width: 2.5rem;
  max-width: 20%;
  animation: 1s ease-out 1s infinite arrow;
}

@keyframes arrow{
  0%{
      transform: translateY(0);
  }
  50%{
    transform: translateY(25%);
  }
  100%{
    transform: translateY(0);
  }
}