body {
    margin: 0;
    padding: 0;
  }

@font-face{
    font-family: Tangerine;
    src:url(TangerineRegular-7JAD.ttf);
}

@font-face{
    font-family: Eras;
    src:url(Eras\ Medium\ ITC.ttf);
}

@font-face{
  font-family: Garineldo;
  src:url(Garineldo-MJqY.otf);
}



li, a, h3, #button{
    font-size: calc(0.7rem + 0.5vw);
}

h2, h4{
  font-size: calc(1.2rem + 0.9vw);
}

h3, #button{
  font-family: Eras;
}

h5{
  font-size: calc(0.6rem + 0.3vw);
}

footer{
  margin-top: 5rem;
}

h1{
  font-family: Tangerine;
  font-size: calc(1.6rem + 2.0vw);
  color: #C6BDBD;
  font-weight: 100;

  flex-grow: 1;
  flex-shrink: 1;
}

.separador-encabezado{
  /* width: min-content;
  min-width: 8rem;
  max-width: 50%; */

  width: 100%;
  min-height: 0.5px; /*de esta manera no desaparece*/
  max-width: 60%;

  flex-grow: 1;
  flex-shrink: 1;
}

.encabezado{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: auto;

  width: min-content;
  min-width: 0;
  max-width: 100%;

  margin-top: 2rem;

}